*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;

}

body {
    background-color: #010922;

}

.header {
    width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid #8184D9;
    display: flex;
    align-items: center;


}

.header h2{
    font-weight: 700;
	font-size: 24px;
    color: #FFFFFF;

}

.header img {
    padding: 8px;
    padding-right: 20px;

}

.nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nav_item {
    width: 140px;
    height: 55px;
    font-weight: 400;
	font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;

    display: flex;
    justify-items: center;
    align-items: center;
}

.nav_item:hover {
    background-color:dimgray;
    transition: 1s;
}

.block1 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;


}

.block1_text {
    color: #FFFFFF;
    width: 512px;

}

.block1_text h1 {
    font-weight: 700;
	font-size: 32px;
    margin-bottom: 20px;

}
.block1_text p {
    font-weight: 400;
	font-size: 20px;
    margin-bottom: 20px;

}

.list {
    margin-left: 15px;
    font-weight: 400;
	font-size: 20px;
}

.block2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #8184D9;
    border: #fff dashed 2px;
}

.block2__item {
    width: 150px;
    height: 200px;
    border: #fff solid 2px;
    color: #FFFFFF;
}